@page
@model Proiect_Coworking.Pages.Locatii.CreateModel

@{
    ViewData["Title"] = "Create";
}

<h1>Adauga locatie</h1>

<h4>Locatie coworking</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Locatie.Nume" class="control-label"></label>
                <input asp-for="Locatie.Nume" class="form-control" />
                <span asp-validation-for="Locatie.Nume" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Locatie.Adresa" class="control-label"></label>
                <input asp-for="Locatie.Adresa" class="form-control" />
                <span asp-validation-for="Locatie.Adresa" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Locatie.Oras" class="control-label"></label>
                <input asp-for="Locatie.Oras" class="form-control" />
                <span asp-validation-for="Locatie.Oras" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Locatie.Telefon" class="control-label"></label>
                <input asp-for="Locatie.Telefon" class="form-control" />
                <span asp-validation-for="Locatie.Telefon" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
